.weather-app-container {
  .search-weather-container {
    .search-input {
      display: flex;
      justify-content: center;
      gap: 15px;
      padding-top: 15px;
      height: 45px;
      input {
        width: 200px;
        padding: 0 5px;
      }
    }
    .result-container {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: left;
      align-items: center;
      padding: 15px;
    }
  }
}
